<ng-container *ngIf="detailedInfo">
  <app-slider [items]="[detailedInfo]" [isSlider]="false"></app-slider>
</ng-container>

<p-tabView>
  <p-tabPanel header="Overview"
    ><div class="grid">
      <app-description-item
        [detailedInfo]="detailedInfo"
      ></app-description-item>
    </div>
    <app-card-carousel [infoCard]="this.creditsInfo?.cast"></app-card-carousel>
  </p-tabPanel>
  <p-tabPanel header="Videos">
    <div class="grid">
      <ng-container *ngFor="let videoResults of this.infoVideo?.results">
        <div
          class="col-12 md:col-6 lg:col-4"
          *ngIf="videoResults?.type === 'Trailer'"
        >
          <app-video-embed [key]="videoResults.key"> </app-video-embed>
        </div>
      </ng-container>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Photos">
    <div class="grid">
      <div
        class="col-12 md:col-6 lg:col-4"
        *ngFor="let image of this.imageInfo?.backdrops"
      >
        <app-image-embed [imageInfo]="image"></app-image-embed>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
