/* You can add global styles to this file, and also import other style files */
@import "../src/styles/normalize";
@import "../src/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;900&display=swap");
@import "~primeflex/primeflex.css";
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: $bgLight;
}

a {
  text-decoration: none;
  color: $bgLight;
}
