<div class="grid">
  <div class="col-12">
    <div class="p-fluid">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="search"
          placeholder="Search"
          (change)="searchChange()"
          (keyup)="searchChange()"
        />
      </span>
    </div>
  </div>
</div>
<div class="grid">
  <app-banner [title]="''" [itemList]="movies"></app-banner>
</div>
<p-paginator
  [rows]="rows"
  [totalRecords]="10000"
  (onPageChange)="paginate($event)"
  [rowsPerPageOptions]="rowsPerPage"
></p-paginator>
